
body {
      background: #ffffff;
      font-family: 'Comic Sans MS', cursive, sans-serif;
      text-align: center;
      padding: 20px;
    }
    h1 {
      color: #ff0066;
      text-shadow: 2px 2px 0 #660033;
    }
    .gallery {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
      margin-top: 30px;
    }
    .photo {
      border: 5px dashed rgb(0, 0, 0);
      padding: 10px;
      background: #fff0f5;
      box-shadow: 5px 5px 0 #000000;
      width: 250px;
      transition: transform 0.3s;
      cursor: pointer;
    }
    .photo:hover {
      transform: scale(1.1);
    }
    img {
      max-width: 100%;
      height: auto;
      border-radius: 10px;
    }
    caption {
      font-weight: bold;
      margin-top: 5px;
      color: #cc0066;
    }
     img.rodape {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  margin: 0 auto;
}
